body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #D8C7AD;
    color: #301811;
    margin: 0;
}

header {
    font-family: Oswald, sans-serif;
    background-color: #D8C7AD;
    /* Бежевый цвет */
    padding: 10px 20px;
}

body {
    margin: 0;
    /* Remove default body margin */
    padding-top: 80px;
    /* Prevent content from hiding under fixed header */
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* Space out logo and nav */
    align-items: center;
    /* Vertically center items */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D8C7AD;
    z-index: 100;
    /* Ensure the header is above other content */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    /* Vertically center logo and title */
}

nav {
    flex-grow: 1;
    /* Allow nav to take available space */
}

.nav-container {
    display: flex;
    /* Arrange items in a row */
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center the contents of nav */
}

.nav-links {
    display: flex;
    /* Arrange items in a row */
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.nav-links li {
    margin: 0 15px;
    /* Add space between links */
}

.search-container {
    display: flex;
    /* Keep input and count aligned horizontally */
    align-items: center;
    /* Center items vertically */
    margin-left: 20px;
    /* Space between links and search */
}

#searchInput {
    padding: 5px;
    /* Add some padding for better aesthetics */
    margin-right: 10px;
    /* Space between the input and result count */
}

#resultCount {
    margin: 0;
    /* Remove default margin for the result count */
}

.logo img {
    height: 80px;
    /* Подберите подходящий размер */
    margin-right: 20px;
}

.title h1 {
    color: #301811;
    line-height: 1.3;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #301811;
    font-size: 22px;
}

.search-container {
    margin-left: 20px;
}

.search-container input {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    /* Закругляем углы */
    border: 1px solid #301811;
    max-width: 200px;
    /* Adjust width as necessary */
}

.main-photo {
    width: 100%;
    height: auto;
}

.apartment-images {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-slider {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-slider.active {
    opacity: 1;
}

.apartment-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.apartment-card {
    background-color: #EBDCC8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 500px;
    /* Ширина карточки */
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    /* Подгоните под ваш дизайн */
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Плавный переход */
}

.carousel-images img {
    width: 100%;
    height: 300px;
    /* Задайте нужную высоту */
    object-fit: cover;
    /* Сохраняет пропорции, центрирует и обрезает по краям */
}

.carousel-circles {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5px;
}

.carousel-circles .circle {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.carousel-circles .circle.active {
    transform: scale(1.2);
    opacity: 1;
    background-color: #EFBAA7;
    /* Цвет подсветки */
    box-shadow: 0 0 10px rgba(250, 200, 200, 0.1);
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
}

.modal .prev,
.modal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    /* Центрирование по вертикали */
    color: white;
    /* Цвет текста */
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Плавный переход цвета */
    border-radius: 0 3px 3px 0;
    /* Закругление краев */
    user-select: none;
    /* Запрет выделения текста */
    opacity: 0.6;
    /* Установите прозрачность по умолчанию */
}

.modal .prev:hover,
.modal .next:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.modal .next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {

    border: none;
    /* Убирает стандартную рамку */
    color: white;
    /* Цвет текста */
    padding: 10px 15px;
    /* Внутренние отступы */
    font-size: 20px;
    /* Размер шрифта */
    cursor: pointer;
    /* Указывает, что это кнопка */
    border-radius: 20%;
    /* Полное закругление для круглой кнопки */
    transition: background-color 0.3s;
    /* Плавный переход цвета при наведении */
}

.prev,
.next {
    position: absolute;
    opacity: 0.8;
    top: 50%;
    transform: translateY(-50%);
    color: #301811;
    padding: 10px;
    cursor: pointer;
}

.next:hover,
.prev:hover {
    background-color: #EFBAA7;
    opacity: 0.8;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.description {
    padding: 20px;
}

.description h2 {
    font-family: Oswald, sans-serif;
    ;
    margin-top: 0;
}

.description p {
    margin: 0;
    line-height: 1.2;
}

.book-now {
    background-color: #EFBAA7;
    color: #301811;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.maps-section {
    padding: 20px;
    background-color: #D8C7AD;
}

footer {
    background-color: #D8C7AD;
    color: #301811;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
}

.footer-title {
    color: #301811;
    font-size: 24px;
    margin: 0;
    padding-bottom: 20px;
}

.circle-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.circle-item {
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #301811;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-item p {
    margin: 10px 0 0;
    color: #301811;
    font-size: 14px;
}

.contact-info {
    margin: 20px 0;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #301811;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-icons img {
    width: 60px;
    height: auto;
}

/* Общая стилизация для секции */
.info-section {
    text-align: center;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.section-title {
    font-size: 2em;
    color: #301811;
    margin-bottom: 20px;
}

/* Стили для контейнера с кругами и линиями */
.circle-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

/* Оформление линий между этапами */
.line {
    flex-grow: 1;
    height: 3px;
    background-color: #301811;
    opacity: 0;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    transform: translateY(-10px);
    /* Начальное смещение вверх */
}

/* Стили для каждого этапа */
.circle-item {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 10px;
    max-width: 150px;
}

/* Круг с плавной анимацией */
.circle {
    width: 50px;
    height: 50px;
    background-color: #301811;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}

/* Текст этапов */
.circle-item p:first-of-type {
    font-weight: bold;
    color: #301811;
    margin-top: 10px;
}

.circle-item p:last-of-type {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    line-height: 1.4;
}

/* Появление элементов при добавлении класса active */
.active .line,
.circle.active {
    opacity: 1;
    transform: translateY(0);
}

.circle.active {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(48, 24, 17, 0.5);
}



.circle .booking-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.form-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.form-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.form-content h2 {
    margin-top: 0;
}

.form-content label {
    display: block;
    margin: 10px 0 5px;
}

.form-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-content button {
    background-color: #EFBAA7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px 0;
}

.calendar-day {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.calendar-day.selected {
    background-color: #008cba;
    /* Selected color */
    color: white;
}

.calendar-day.occupied {
    background-color: #f44336;
    /* Occupied color */
    color: white;
}

/* Стиль для формы */
.booking-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 350px;
    display: none;
}

.form-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: #eee;
    /* Светло-серый фон */
    transition: background-color 0.3s ease;
    /* Плавный переход при наведении */
}

.close:hover {
    background-color: #ddd;
    /* Темнее при наведении */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.highlight {
    background-color: rgba(62, 31, 11, 0.448);
    transition: background-color 0.5s ease;
}

.booked-date {
    background-color: red;
    /* Change to your desired color */
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}